<li class="message appeared <%=message.user == current_user ? 'right' : 'left' %>">
  <div class="avatar"></div>
  <div class="text_wrapper">
      <div class="text"><%= message.content %></div>
  </div>
</li>