<h1>Rooms#show</h1>
<hr>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-4">
    <form>
      <input type="text" data-behaviour="room_speaker" class="form-control">
	 <input type="hidden" id="user_id"  value="<%=current_user.id%>" />
    </form>
  </div>
</div>